body{
    margin: 0;
    font-family: "Open Sans";
}

.app {
    width: 100%;
    height: 100%;
}

/*TitleBar START*/
.app-titleBar {
    font-size: 20px;
    color: white;
    width: 100%;
    height: 40px;
    background: #2faceb;
}
.app-titleBar-title{
    float: left;
    padding: 5px;
    padding-left: 20px;
}
.app-titleBar-userName{
    
    float: right;
    padding: 5px;
    padding-right: 20px;
}
/*tittle bar end*/

/*editBar START*/
.app-editBar {
    float: left;
    width: 20%;
    height: 100%;
}
.app-viewBar {
    float: left;
    width: 80%;
    box-sizing: border-box;
    padding: 24px 10px 0px 10px;
}

/*text start*/
.text{
    padding-top: 5px !important;
}
.text, .author, .location, .eventDate, .startDate, .buttons {
    padding-top: 30px;
    
}
.text-label, .author-label, .location-label, .eventDate-label, .startDate-label {
    font-size: 18px;
    padding-left: 20px;
}
.text-input, .location-input {
    box-sizing: border-box;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    font-size: 18px;
    border: #ccc 1px solid;
    border-radius: 4px;
    color: #555555;
    outline:0;
}
.text-input:focus, .location-input:focus{
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    border-color:#66afe9;
}
.text-input:hover, .location-input:hover{

}
.text-input:active, .location-input:active{
    background-image:none;
    box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)
}
.text-input::placeholder, .location-input::placeholder{
    color: #858585;
    font-size: 18px;
}
/*dropdownList*/
.rw-widget{
    text-align: start;  
}
.rw-widget:hover{
    border-color: #ccc;
    background: white;
}
.rw-input{
    padding-left: 10px;
    font-size: 18px;
}
.rw-placeholder{
    color: #858585;
}
.rw-list-option{
    outline:0
}
.rw-list-option:hover, .rw-calendar-grid .rw-btn:hover{
    background: #2faceb !important;
    color: white;
    border: 1px solid #2faceb !important;
}
.rw-state-selected{
    background: #2faceb !important;
    color: white;
}
.rw-calendar-grid .rw-state-focus{
    border: 1px solid #2faceb !important;
}
.rw-list .rw-state-focus{
    border: 1px solid #2faceb !important;
    background: white !important;
}

/*end dropdownList*/
.buttons{
    padding-top: 40px;
}
.buttons-buttonSave, .buttons-buttonDelete, .buttons-buttonCancel {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    font:20px "Open Sans" !important;
    width: 30%;
    height: 40px;
    font-size: 18px;
    background-color:white;
    border: 1px solid #2faceb;
    color:#2faceb;
}
.buttons-buttonSave:focus, .buttons-buttonDelete:focus, .buttons-buttonCancel:focus{
    outline:0;
}
.buttons-buttonCancel{
    color: #f0c36d;
    border: 1px solid #f0c36d;
}
.buttons-buttonDelete{
    color: #cb3837;
    border: 1px solid #cb3837;
}
.buttons-buttonSave:hover  {
    background-color: #2faceb; 
    color: white;
    border: 1px solid #2faceb;
}
.buttons-buttonCancel:hover{
    background-color: #f0c36d; 
    color: white;
    border: 1px solid #f0c36d;
}
.buttons-buttonDelete:hover{
    background-color: #cb3837;
    color: white;
    border: 1px solid #cb3837;
}
.buttons-buttonSave{
    float: right;
}
.buttons-buttonCancel{
    margin-top: 10px;
}
/*text end*/
/*editBar end*/

/*griddle*/
.griddle-table{
    border-collapse: collapse;
    margin: 5px 0px 5px 0px;
    width: 100%;
    border-bottom:1px solid hsla(0,0%,0%,0.12);
    font-size:18px;
}

.griddle-div, .griddle-table-heading-cell {
    text-align: left;
    padding: 6px 16px 6px 2px;
}
.griddle-div{
    height: 100%;
}
/*
.griddle-page-select, .griddle-previous-button, .griddle-next-button{
    font:18px "Open Sans" !important;
    display: inline-block;
    font-size: 18px;
    margin: 20px 7px 7px 0px;
    padding: 0px 10px 0px 10px;
    color: #2faceb;
    background: transparent;
    border: 1px solid #2faceb;
    height: 40px;
    cursor: pointer;
}

.griddle-previous-button, .griddle-next-button {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.griddle-previous-button:hover, .griddle-next-button:hover {
    background-color: #2faceb; 
    color: white;
    border: 1px solid #2faceb;
}*/
/*option:hover{
    background-color: black !important; 
}*/
.griddle-filter{
    box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    height: 40px;
    font-size: 18px;
    border: #ccc 1px solid;
    border-radius: 4px;
    color: #555555;
    outline:0;
    margin: 5px 0px 5px 0px;
}
.griddle-filter:focus{
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    border-color:#66afe9;
}

.griddle-filter:active{
    background-image:none;
    box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
}
.griddle-filter::placeholder {
    color: #858585;
}
.griddle-table-heading-cell:hover{
    cursor: pointer;
    margin-bottom: 10px;
}
.griddle-row{
    border-top: 2px solid hsla(0,0%,0%,0.12);
    font-weight:normal;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.griddle-row:hover, .griddle-row-focus:hover{
    border: 2px solid #2faceb !important;
    background: #2faceb !important;
    color: white !important;
    outline:0;
}
.griddle-row-focus{
    border: 2px solid #2faceb !important;
    font-weight: bold;
    color: black;
    outline:0;
}
.griddle-table-heading, .griddle-table-body{
    display: block;
}
.griddle-table-heading{
    margin-right: 17px;
}
.griddle-table-body{
    max-height: 500px;
    overflow: auto;
    overflow-x: hidden;
}
.griddle-table-heading-cell-Text{
    width: 20%;
    text-align: left;
}
.griddle-table-heading-cell-Author{
    width: 10%;
    text-align: left;
}
.griddle-table-heading-cell-Location{
    width: 18%;
    text-align: left;
}
.griddle-table-heading-cell-Date{
    width: 8%;
    text-align: left;
}
.griddle-table-heading-cell-Publish{
    width: 10%;
    text-align: left;
}
.griddle-div{
    width: 100%;
    height: 100%;
    white-space: pre;
}
.error-label{
    color:red;
    position: absolute;
    display: block;
}
.error-input{
    border: 2px solid red !important;
}
.none{
    display: none;
}
/*.griddle-table-heading, .griddle-table-body{display: block; }
.griddle-table-body{
    height: 400px;      
    overflow-y: auto;   
    overflow-x: hidden;  

}*/

/*end griddle*/

/*MEDIA start*/
/*@media screen and (max-width: 770px) {
    .app-editBar {
        width: 100%;
    }
    .app-viewBar {
        display: none;
    }
}*/
/*@media screen and (max-width: 375px) {
    .app-editBar {
        width: 100%;
    }
    .app-viewBar {
        display: none;
    }
}*/
@media only screen and (max-device-width: 667px) {
    body{
        height: 100% !important;
        width: 100% !important;
    }
    .app-editBar {
        width: 100%;
    }
    .app-viewBar {
        display: none;
    }
    .app-titleBar {
        height: 100px !important;
        font-size: 40px !important;
    }
    .app-titleBar-title, .app-titleBar-userName {
        padding-top: 20px;
    }
    .text {
        padding-top: 10px !important;
    }
    .text, .author, .location, .eventDate, .startDate {
        font-size: 40px !important;
        padding-top: 40px !important;
    }
    .text-input, .location-input, .rw-input, .text-input::placeholder, .location-input::placeholder {
        height: 150px;
        font-size: 40px;
    }
    .text-label, .location-label, .startDate-label, .eventDate-label, .author-label {
        font-size: 50px;
    }
    .buttons-buttonSave {
        height: 120px;
        width: 340px;
        font-size: 50px !important;
    }
}
/*@media screen and (max-width: 375px) {
    .app-editBar {
        width: 100%;
    }
    .app-viewBar {
        display: none;
    }
    .app-titleBar {
        height: 100px !important;
        font-size: 40px;
    }
}*/
/*media end*/

/*viewBar-table START*/
.viewBar {
    float: left;
    width: 80%;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    height: 100%;
}
.table {
    overflow: auto;
}
.viewBar_head {
    padding-right: 16px;
}
.viewBar_table {
    width: 100%;
    font-size: 18px;
    border-collapse: collapse;
    padding-right: 7px;
}
.viewBar_table_ {
    width: 100%;
    overflow: scroll !important;
    font-size: 18px;
    border-collapse: collapse;
}
.viewBar_table_tr {
    cursor: pointer;
}
.viewBar_table_tr:hover {
    color:black;
    background: #89D2F5 !important;
}
.viewBar_table_tr:focus {
    color:white;
    background: #2faceb !important;
    outline: 0;
}
.viewBar_table_head {
    font-size: 20px;
    padding: 0;
    border-bottom: 2px solid gray;
}
.viewBar_table_text {
    text-align: left;
    width: 30%;
    border-bottom: 1px solid gray;
    padding: 10px;
}
.viewBar_table_author {
    text-align: left;
    width: 14%;
    padding: 10px;
    border-bottom: 1px solid gray;
}
.viewBar_table_location {
    text-align: left;
    width: 20%;
    padding: 10px;
    border-bottom: 1px solid gray;
}
.viewBar_table_startDate {
    text-align: right;
    width: 18%;
    padding: 10px;
    border-bottom: 1px solid gray;
}
.viewBar_table_eventDate {
    text-align: right;
    width: 18%;
    padding: 10px;
    border-bottom: 1px solid gray;
}
/*viewBar-table end*/