@font-face {
  font-family: 'segoe-condensed';
  src: url('/infopanel-message/static/segoe-condensed.ttf');
}
@font-face {
  font-family: 'segoe-condensed-bold';
  src: url('/infopanel-message/static/segoe-condensed-bold.ttf');
}
body{
    margin: 0;
    font-size: 16px;
    font-family: "segoe-condensed" !important;
    background: #e6e6e6;
}

.app {
    width: 100%;
    height: 100%;
    background: #e6e6e6;
}

/*TitleBar START*/
.app-titleBar {
    font-size: 3vh;
    color: white;
    width: 100%;
    height: 7vh;
    background: #e6e6e6;
}
.app-titleBar-title{
    font-family: "segoe-condensed-bold" !important;    
    float: left;
    padding-top: 2vh;
    padding-left: 2vh;
    color: #fd760a;
}
.app-titleBar-userName-logOut {
    font-family: "segoe-condensed-bold" !important;    
    color: #3f3f3f !important;
    float: right;
    padding-top: 2vh;
    padding-right: 2vh;
}
a:link, a:visited, a:hover, a:active {
    color: white;
}

/*tittle bar end*/

/*editBar START*/
.EditBar {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    box-sizing: border-box;
    overflow: auto;        
}
.app-editBar {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    display: block;
    background: white;
    overflow: auto;
    padding: 30px;
    min-width: 990px;
    margin: 10vh 17vw 0vh 17vw;
}
.app-viewBar {
    float: left;
    width: 80%;
    box-sizing: border-box;
    padding: 24px 10px 0px 10px;
    max-width: 766px;
}
.app-editBar-typeMessage{
    font-family: 'segoe-condensed-bold';    
    margin-bottom: 25px;
    color: #fd760a;
    font-size: 20px;
}

/*text start*/
.text, .author, .location, .eventDate, .startDate, .buttons, .eventType {
    /* font-size: 20px; */
    display: inline-block;
    
}
.text, .author, .location, .startDate {
    display: block;
    margin-bottom: 28px;
    width: 60%;
    min-width: 580px;
}
.buttons {
    width: 100%;
}
.eventDate {
    display: inline-block;
    float: right;
    box-sizing: border-box;
}
.text-label, .author-label, .location-label, .eventDate-label, .startDate-label, .eventType-label {
    /* font-size: 15px; */
    padding: 15px 10px 10px 0px;
    color: #adadad;
}
.text-input, .location-input, .author-input {
    font: 'segoe-condensed-bold';
    display: block;
    box-sizing: border-box;
    padding-left: 10px;
    height: 40px;
    /* font-size: 18px; */
    border: #adadad 1px solid;
    /* border-radius: 4px; */
    color: #555555;
    outline:0;
    margin-top: 5px;
}
.text-input{
    width: 100%;
}
.location-input, .author-dropdownList {
    margin-top: 5px;
    width: 50%;
}
.text-input:focus, .location-input:focus, .author-input:focus{
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(173, 173, 173, 0.6);
    border-color:#fd760a;
}
.text-input:active, .location-input:active, .author-input:active{
    background-image:none;
    box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)
}
.text-input::placeholder, .location-input::placeholder, .author-input::placeholder{
    color: #adadad;
    /* font-size: 18px; */
}
/*dropdownList and calendar*/
.rw-widget{
    text-align: start;
    border-color: #adadad;
    border-radius: 0px;
}
.rw-widget:hover{
    border-color: #adadad;
    background: white;
}
.rw-input{
    padding-left: 10px;
    /* font-size: 18px; */
}
.rw-state-focus{
    border-color: #fd760a !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(173, 173, 173, 0.6) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(173, 173, 173, 0.6) !important;
}
.rw-placeholder{
    color: #858585;
}
.rw-list-option{
    outline:0;
}
.rw-list-option:hover, .rw-calendar-grid .rw-btn:hover{
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    background: #fd760a !important;
    color: white;
    border: 1px solid #fd760a !important;
}
.rw-state-selected{
    background: #fd760a !important;
    color: white;
}
.rw-calendar-grid .rw-state-focus{
    border: 1px solid #fd760a !important;
    outline: 0;
}
.rw-list .rw-state-focus{
    border: 1px solid #fd760a !important;
    background: white !important;
}
/*end dropdownList and calendar*/

.author-dropdownList {
    height: 40px !important;
}
.rw-dropdownlist > .rw-input{
    height: 100%;
    padding: 3px 0px 0px 10px;
    font: 'segoe-condensed-bold';
    line-height: 33px !important;
}
input {
    height: 40px !important;
}

/*rw-selectlist*/
.startDate-SelectList{
    border: none;
    margin-top: 5px;
}
.startDate-SelectList .rw-list {
    display: flex;
}
.startDate-SelectList > ul > li.rw-list-option > label > input {
    display: none;
}
.radio-input-div {
    border: 1px #adadad solid !important;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-align: center;
    padding: 5px 16px 5px 16px;
    cursor: pointer;
}
.radio-input-text{
    display: inline-grid;
    align-items: center;
    font-size: 16px;
}
.startDate-SelectList > ul > li.rw-list-option > label > input:checked + .radio-input-div {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    background-color: #adadad !important;
    border-color: black !important;
}
.startDate-SelectList > ul > li {
    border: 1px solid transparent !important;        
    box-sizing: border-box;
    margin-right: 20px !important;
}
.startDate-SelectList > ul > li > label, .startDate-SelectList > ul > li > label > .radio-input-div,
.startDate-SelectList > ul > li > label > .radio-input-div > .radio-input-text {
    height: 100%;
}
.startDate-SelectList > ul > li.rw-list-option > label, .startDate-SelectList, 
.startDate-SelectList > ul, .startDate-SelectList > ul > li.rw-list-option {
    padding: 0px;
    border-radius: 0px;
}
.startDate-SelectList > ul > li.rw-list-option:hover {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    background: #ededed !important;
    color: black;
}

.startDate-SelectList > ul > li.rw-state-disabled:hover {
    -webkit-transition-duration: 0s; 
    transition-duration: 0s;
    border: 1px solid transparent !important;
    background: white !important;
    color: #adadad !important;
}
.startDate-SelectList > ul > li.rw-state-disabled > label > .radio-input-div {
    color: #adadad;
    cursor: not-allowed;
}
.startDate-SelectList > ul > .rw-state-focus {
    border-color: #adadad !important;
}
.startDate-SelectList > ul > li.rw-list-option {
    border: 1px solid transparent !important;
}
/*END rw-selectlist*/
/*calendarPicker */
.calendarPicker {
    margin-top: 0;
    border-top: 0;
    height: 270px;
}
.rw-calendar thead > tr > th {
    width: 10px !important; 
    height: 15px;
    text-align: center;
    font-size: 14px;
    padding: 0px !important;
}
.calendarPicker .rw-btn {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    height: 35px;
    width: 40px;
    padding: 0px !important;
    margin: 0px !important;
    line-height: 32px !important;
}
.timePicker {
    margin-top: 4px;
    box-sizing: border-box;
}
.calendarPicker, .timePicker {
    width: 350px;
}
/*END calendarPicker */
.buttons{
    padding-top: 30px;
    min-height: 55px;    
    min-width: 70px;
}
.buttons-buttonSave, .buttons-buttonDelete, .buttons-buttonCancel {
    font-family: 'segoe-condensed-bold';    
    width: 17%;
    height: 45px;
    font-size: 18px;
    background-color:white;
    border: 2px solid #fd760a;
    border-radius: 7px;
    color:#fd760a;
    padding: 0px;
    width: 170px !important; 
    font-weight: bold !important;
    cursor: pointer;
}
.buttons-buttonSave:focus, .buttons-buttonDelete:focus, .buttons-buttonCancel:focus {
    outline:0;
}
.buttons-buttonSave{
    float: right;
    margin-left: 1%;
    min-width: 120px;
    background-color: #fd760a;
    color: white;
}
.buttons-buttonSave:hover {
    color: #fe9847;
}
.buttons-buttonCancel, .buttons-buttonDelete{
    float: right;
    color: #adadad;
    border: 2px solid #adadad;
    min-width: 93px;
}
.buttons-buttonDelete{
    float: left;
    color: #adadad;
    border: 2px solid #adadad;
    min-width: 98px;
}
.buttons-buttonDelete{
    float: left !important;
}
.buttons-buttonCancel:hover, .buttons-buttonDelete:hover{
    color: #838383;
    border: 2px solid #838383;
}
.buttons-buttonCancel:active, .buttons-buttonDelete:active{
    color: #555;
    border: 2px solid #555;
}
/*text end*/
.error-label, .warning-label{
    color:red;
    font-size: 14px;
    position: absolute;
    display: block;
}
.warning-label{
    color:orange;
}
.error-input{
    border: 2px solid red !important;
}
.none{
    display: none;
} 
/*editBar end*/

/*viewBar-table START*/
.viewBar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e6e6e6;
}
.viewBar_nothingToDisplay {
    margin-top: 23vh;
    text-align: center;
    color: #838383;
    font-size: 6vh;
}
.viewBar_createRecordText {
    text-align: center;
    color: #838383;
    font-size: 3vh;
}
.table {
    overflow: auto;
}
.viewBar_head {
    padding-right: 16px;
}
.viewBar_table {
    width: 100%;
    font-size: 18px;
    border-collapse: collapse;
    padding-right: 7px;
}
.viewBar_table_ {
    width: 100%;
    overflow: scroll !important;
    font-size: 18px;
    border-collapse: collapse;
}
.viewBar_table_tr {
    transition-duration: 0.4s;    
    cursor: pointer;
}
.viewBar_table_tr:hover {
    transition-duration: 0.4s;
    color:black;
    background: #89D2F5 !important;
}
.viewBar_table_tr_focus {
    transition-duration: 0.4s;
    color:white;
    background: #2faceb !important;
    outline: 0;
}
.viewBar_table_head {
    font-size: 20px;
    padding: 0;
    border-bottom: 2px solid gray;
}
.viewBar_table_text {
    text-align: left;
    width: 30%;
    border-bottom: 1px solid gray;
    padding: 15px 10px 10px 10px;
}
.viewBar_table_author {
    text-align: left;
    width: 14%;
    padding: 15px 10px 10px 10px;
    border-bottom: 1px solid gray;
}
.viewBar_table_location {
    text-align: left;
    width: 20%;
    padding: 15px 10px 10px 10px;
    border-bottom: 1px solid gray;
}
.viewBar_table_startDate {
    text-align: right;
    width: 18%;
    padding: 15px 10px 10px 10px;
    border-bottom: 1px solid gray;
}
.viewBar_table_eventDate {
    text-align: right;
    width: 18%;
    padding: 15px 10px 10px 10px;
    border-bottom: 1px solid gray;
}
/*viewBar-table end*/

/*ButtonCreate ButtonAdd Start*/
.buttonCreate {
    margin: 0 auto;
    height: 7vh;
    width: 28vh;
    margin-top: 11vh;
    text-align: center;
}
.buttonCreate_create {
    height: 60px;
    width: 200px;
    background: #fd760a;
    color: white;
    font-size: 20px;
    border: 0px;
    border-radius: 1vh;
    font-family: 'segoe-condensed-bold';
    cursor: pointer;
}
.buttonAdd_root {
    text-align: center;
}
.buttonAdd {
    display: inline-block;
    margin-top: 11vh;
}
.buttonAdd6 {
    display: inline-block;
    margin-top: 5vh;
} 
.buttonAdd9 {
    display: inline-block;
    margin-top: 2.5vh;
    margin-bottom: 3vh;
} 
.buttonAdd_add {
    margin: 0 auto;
    height: 45px;
    width: 170px;
    background: #e6e6e6;
    color: #c4c4c4;
    font-size: 14px;
    border: 2px solid #c4c4c4;
    border-radius: 1vh;
    font-family: 'segoe-condensed-bold';
    cursor: pointer;
}
.buttonAdd_add:hover, .buttonAdd9:hover, .buttonAdd6:hover {
    border: 2px solid #838383;
    color: #838383;
}
.buttonCreate_create:focus, .buttonAdd_add:focus {
    outline: none;
}
.buttonCreate_create:hover {
    color: white;
}
.buttonCreate_create:active {
    background: #a44b03;
}
.buttonAdd_add:active, .buttonAdd9:active, .buttonAdd6:active {
    border: 2px solid #555;
    color: #555;
}
/*ButtonCreate end*/

/*messageTemplate START*/
.messageTemplate_ {
    font-family: 'segoe-condensed-bold';
    margin: 0 auto;
}
.messageTemplate1 {
    font-family: 'segoe-condensed-bold';
    margin-top: 15vh;
    text-align: center;
}
.messageTemplate3 {
    font-family: 'segoe-condensed-bold';
    margin-top: 20vh;
    text-align: center;
}
.messageTemplate6 {
    font-family: 'segoe-condensed-bold';
    margin-top: 4vh;
    margin-left: 3.5vw;
    /* text-align: center; */
}
.messageTemplate9 {
    font-family: 'segoe-condensed-bold';
    margin-top: 1vh;
    margin-left: 9.5vw;
    /* text-align: center; */
}
.messageBox {
    font-family: 'segoe-condensed-bold';
    height: 32vh;
    width: 30vw;
    margin: 0.5vw;
    display: inline-block;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    vertical-align: top;
}
.messageBox1 {
    font-family: 'segoe-condensed-bold';
    height: 42vh;
    width: 36vw;
    /* min-width: 400px;
    min-height: 300px;
    max-width: 500px;
    max-height: 370px; */
    margin: 0.7vw;
    display: inline-block;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    vertical-align: top;
}
.messageBox9 {
    font-family: 'segoe-condensed-bold';
    height: 24vh;
    width: 26vw;
    margin: 0.5vw;
    display: inline-block;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    vertical-align: top;
}

/*messageTemplate END*/

/*none select element*/
.author-label, .buttons, .eventDate-label, .location-label,
.startDate-label, .text-label, .app-titleBar-title, .viewBar_table_head,
.error-label, .app-editBar-typeMessage-label, .warning-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: context-menu;
}
/*end none select element*/
/*SelectList*/
ul li label {
    width: 100%;
}
ul li {
    cursor: context-menu !important;
}
/*end SelectList*/
/*MEDIA start*/
@media only screen and (max-width: 1450px) {
    .app-editBar {
      min-width: 990px;
      margin: 4% 10% 0% 10%;
    }
}

@media only screen and (max-width: 1250px) {
    .EditBar {
        overflow: auto;        
    }
    .app-editBar {
        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
        min-width: inherit;
        margin: 0 15% 0 15%;
        min-width: 500px;
        overflow: auto;
    }
    .eventDate {
        position: absolute;
        margin-top: 275px;
    }
    .text, .author, .location, .startDate {
        width: 100%;
        min-width: inherit;
    }
    .startDate {
        margin-top: 380px;
    }
    .eventDate {
        padding-left: 0;
    }
    .startDate-SelectList > ul > li {
        border: 1px solid #adadad !important;
        box-sizing: border-box;
        margin-right: 3% !important; 
    }
}

@media only screen and (max-device-width: 667px) {
    .app {
        width: auto;
        height: auto;
        background: #e6e6e6;
    }
    .EditBar {
        padding: 0;
    }
    .app-editBar {
        min-width: inherit;
        margin: 8vh 8vw 0vh 8vw;
        min-width: 500px;
        overflow: auto;
        max-height: inherit;
        padding: 30px;
    }
    .app-editBar-typeMessage {
        font-size: 6vw;
    }
    .text-label, .author-label, .location-label, .eventDate-label, .startDate-label, .eventType-label {
        font-size: 4vw;
    }
    .text-input, .location-input, .author-dropdownList{
        height: 60px !important;
        font-size: 4vw;
        width: 100%;
    }
    .text-input::placeholder, .location-input::placeholder{
        font-size: 4vw;        
    }
    .rw-dropdownlist > .rw-input, .rw-dropdownlist > .rw-select {
        line-height: inherit !important; 
        padding-top: 5px;
    }
    .eventDate {
        margin-top: 410px;
    }
    .startDate {
        margin-top: 550px;
    }
    .radio-input-div {
        font-size: 3vw;
        height: 8vw;
        padding: 10px 16px 10px 16px;
    }
    .app-titleBar {
        height: 100px !important;
        font-size: 40px !important;
    }
    .messageBox {
        height: 25vh !important;
        width: 80vw !important;
        margin: 2vw;
        display: inline-block;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    }
    .messageBox1 {
        height: 25vh !important;
        width: 80vw !important;
        margin: 2vw;
        /* min-width: 400px;
        min-height: 300px;
        max-width: 500px;
        max-height: 370px; */
        display: inline-block;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    }
    .messageBox9 {
        height: 25vh !important;
        width: 80vw !important;
        margin: 2vw !important;
        display: inline-block;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    }
    .buttonCreate {
        width: inherit !important;
    }
    .buttonCreate_create, .buttonAdd_add{
        height: 10vh !important;
        width: 45vw !important;
        font-size: 6vw !important;
        min-height: 70px !important;
    }
    .viewBar_createRecordText {
        font-size: 6vw;
    }
    .viewBar_nothingToDisplay {
        font-size: 6vw;
        margin-top: 15vh;
    }
    .buttons-buttonSave, .buttons-buttonDelete, .buttons-buttonCancel {
        height: 3vh !important;
        width: 15vw !important;
        font-size: 3vw !important;
        min-height: 70px !important;
    }
    .calendarPicker {
        width: 60% !important;
        min-width: 60% !important;
        height: 415px;
    }
    .calendarPicker .rw-btn {
        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
        height: 50px;
        width: 60px;
        padding: 0px !important;
        margin: 0px !important;
        font-size: 30px;
        line-height: 45px !important;
    }
    .calendarPicker thead > tr > th {
        width: 10px !important; 
        height: 15px;
        text-align: center;
        font-size: 30px;
        padding: 0px !important;
    }
    .timePicker {
        line-height: 50px !important; 
        padding-top: 5px;
        height: 60px !important;
        font-size: 4vw;
        width: 60%;
    }
    .timePicker .rw-btn {
        line-height: 0em;
    }
    .timePicker .rw-popup-container .rw-popup{
        height: 415px !important;
    }
    .timePicker .rw-popup-container .rw-popup .rw-list {
        max-height: inherit;
        height: 100%;
    }
    .error-label, .warning-label {
        font-size: 25px;
    }
}

/*media end*/

/*.calendarPicker {
    margin-top: 0;
    border-top: 0;
    height: 270px;
}
.rw-calendar thead > tr > th {
    width: 10px !important; 
    height: 15px;
    text-align: center;
    font-size: 14px;
    padding: 0px !important;
}
.calendarPicker .rw-btn {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    height: 35px;
    width: 40px;
    padding: 0px !important;
    margin: 0px !important;
}
.timePicker {
    margin-top: 4px;
    box-sizing: border-box;
}
.calendarPicker, .timePicker {
    width: 350px;
}*/