@font-face {
  font-family: segoe-condensed-bold; 
  src: url(segoe-condensed-bold.ttf); 
}
.eventPage {
  font-family: "segoe-condensed-bold";
  height: 100%;
  width: 100%;  
  background: #fd760a;
  cursor: pointer;
}
.eventPage_orange {
  height: 75%;
  background: #fd760a;
  box-sizing: border-box;
}
.eventPage_orange_top {
  height: 7%;
}
.eventPage_orange_circle {
  margin: 0 auto;
  height: 25vh;
  width: 25vh;
  border-radius: 50%;
  border: 1vh solid white;
  box-sizing: border-box;
  background-position: center center;
  /* background-image: url('../img/Empty.png');   */
  background-size:cover;
}
.eventPage_orange_circle > .img {
  border: none;
  height: 100%;
  width: 100%; 
  border-radius: 50%;  
  background-position: center center;
  background-size:cover;
  box-sizing: border-box;
}
.eventPage_orange_text {
  padding: 3% 6vh 0% 6vh;
  font-size: 14vh;
  font-weight: bold;
  color: white;
  text-align: center !important;
  box-sizing: border-box;  
  display: block;
  word-wrap: break-word;
  word-break: break-word;
}
.eventPage_white {
  height: 25%;
  background: white;
  padding: 3vh 5vh 0 5vh;
  box-sizing: border-box;
}
.eventPage_white_date {
  box-sizing: border-box;
  color: #fd760a;
  font-size: 16vh;
  font-weight: bold;
  float: left;
  margin-right: 0.5vh;
}
.eventPage_white_textBlock_left, .eventPage_white_textBlock_right{
  color: #fd760a;
  font-size: 7vh;
  font-weight: bold;
  box-sizing: border-box;
  margin: 1.5vh 0 1vh 0;
}
.eventPage_white_textBlock_left {
  float: left;
}
.eventPage_white_textBlock_right {
  float: right;
}
.eventPage_white_textBlock_top_right {
  color: #8f8f8f;
}
.eventPage_white_textBlock_top_right, .eventPage_white_textBlock_bottom_right {
  box-sizing: border-box;
  text-align: right;
  block-size: 6vh;  
}
.eventPage_white_textBlock_top_left, .eventPage_white_textBlock_bottom_left {
  box-sizing: border-box;
  text-align: left;
  block-size: 6vh;
}

/*for root component*/
.rootMessageComponent {
  width: 100%;
  height: 100%;
  position: absolute;
}